#main {                                                                                             
    display: flex;                                                                                  
}                                                                                                   
#main img {                                                                                         
    margin: auto;                                                                                   
    display: block;                                                                                 
}                                                                                                   
@media only screen and (max-width: 720px) {                                                         
    #main {                                                                                         
        width:100%;                                                                                 
        font-size: 1.2em;                                                                           
        flex-direction: column;                                                                     
    }                                                                                               
}  
